*.class

# Package Files #
*.jar
*.war
*.ear
target
logs
nbactions.xml
/typhon-tools/JavaApplication1/nbproject/private/
/typhon-tools/JavaApplication1/build/
/typhon-tools/JavaApplication2/nbproject/private/