<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2013 The Skfiy Open Association.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<Server port="7870" shutdown="SHUTDOWN">
    
    <!--
    <Listener className="org.skfiy.typhon.jmx.BuiltinJmxListener" port="9090"/>
    -->
    <Listener className="org.skfiy.typhon.deploy.DatabaseDeployListener"/>
    
    <Service name="Typhon">
        <Connector host="127.0.0.1" port="7869" logOn="on"
            connectionTimeout="20000">
            <Listener className="org.skfiy.typhon.container.ContainerListener"
                  impl="org.skfiy.typhon.container.GuiceContainer"/>
        </Connector>
    </Service>
    
</Server>
